body{padding: 20px;
margin: 20px;
box-sizing: border-box;
background: whitesmoke;}
.navbar{width: 100%;
align-items: center;
background: white;
display: flex;
box-shadow: 0px 2px 2px 2px rgb(228, 228, 228);
justify-content: space-around;}
.nav ul{min-width: fit-content;
font-size: 20px;
align-items: center;
}
.nav li{display: inline-block;
padding-left: 40px;}
.nav a{font-size: 20px ;
text-decoration: none;
text-transform: capitalize;
font-weight: 300;
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.account{float: right;
font-size: 20px;}
.logo h1{font-size: 30px;
text-transform: uppercase;
margin-left: 50px;
padding-right: 20px;
}
.search{text-align: center;}
.search h1{font-size: 80px;
text-transform: capitalize;
letter-spacing: 5px;
font-weight: 600;
font-family: 'Courier New', Courier, monospace;
padding-top: 40px;}
.search p{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 0 60px;
transform: translateY(-45px);}
.input{text-align: center;}
.input input[type="text"]{width: 25cm;
padding: 20px 20px;
font-size: 20px;
border: none;
box-shadow: 3px 3px 3px 3px rgb(288, 288, 288);
text-transform: capitalize;
font-style: unset;}
.input input[type="submit"]{width: 3cm;
font-size: 20px;
padding: 20px 20px;
border: none;
box-shadow: 3px 3px 3px 3px rgb(228, 228, 228);
background: green;
color: white;}
.box{width: 10%;
z-index: -2;
height: 30%;
background: rgb(255, 255, 255);
position: absolute;
left: -80px;
top: 400px;
transform: rotate(45deg);
box-shadow: 3px 3px 3px 3px rgb(191, 191, 191);
background: rgb(245, 243, 243);}
.box2{width: 30%;
z-index: -2;
height: 50%;
background: rgb(255, 200, 200);
position: absolute;
left: 25cm;
top: 139px;
transform: rotate(184deg);}


